.a-la-carte-container {
  border: 0px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.a-la-carte-header {
  border: 0px solid blue;
  margin: 2rem 3rem 0 3rem;
  background: rgb(255, 248, 239);
  line-height: 2rem;
  padding: 2rem;
}

.a-la-carte-header h1 {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  border: 0px solid red;
  margin-bottom: 0.75rem;
}

.a-la-carte-header p {
  letter-spacing: 0.01rem;
}

.a-la-carte-body {
  border: 0cqmin solid blue;
  margin: 3rem 0;
  display: flex;
}

.carte-items {
  border: 0px solid red;
  height: fit-content;
}

.carte-items ul {
  border: 0px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carte-item {
  border: 0px solid purple;
  margin: 1rem 1rem;
  list-style-type: none;
  background: rgb(255, 248, 239);
  max-width: 300px;
  width: 100%;
}

.carte-carousel {
  border: 0px solid blue;
}

.carte-item-img {
  border: 0px solid blue;
}

.carte-item-img img {
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
}

.carte-item-desc {
  text-align: center;
  text-wrap: balance;
  border: 0px solid red;
  padding: 1rem 2rem 2rem 2rem;
}

.carte-item-desc h2 {
  border: 0px solid red;
  padding: 1.5rem 0 1rem 0;
  font-size: 1.15rem;
}

.carte-item-desc p {
  border: 0px solid blue;
  line-height: 1.75rem;
  letter-spacing: 0.02rem;
}
.carte-footer {
  background: rgb(255, 248, 239);
  border: 0px solid blue;
  width: 100%;
  padding: 3rem 4rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.01rem;
}

@media only screen and (max-width: 768px) {
  .a-la-carte-container {
  }
  .a-la-carte-header h1 {
  }

  .a-la-carte-header p {
    font-size: 1rem;
  }

  .carte-item-desc h2 {
  }

  .carte-item-desc p {
  }

  .carte-footer {
    padding: 2rem;
  }

  .carte-footer p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 610px) {
  .a-la-carte-header {
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .carte-items ul {
    border: 0px solid red;
  }
  .carte-carousel {
  }

  .carte-items {
    width: 225px;
    border: 0px solid red;
  }
}
