.a-la-carte-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-la-carte-header {
  border: 1px solid blue;
  margin: 0 2rem;
}

.carte-items ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carte-items ul li {
  border: 1px solid purple;
  margin: 1rem 1rem;
  list-style-type: none;
  max-width: 400px;
}

.carte-item-img {
  max-width: 500px;
  max-height: 400px;
  height: 70%;
  border: 0px solid blue;
}

.carte-item-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.carte-item-desc {
  height: 30%;
}
