.about-parent {
  border: 0px solid blue;
}

.about-header {
  z-index: -1;
  background-color: hsla(51, 100%, 90%, 1);
  border: 0px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  position: relative;
}

.about-header-title {
  border: 0px solid green;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.about-header p {
  max-width: 700px;
  text-align: center;
  line-height: 2rem;
  font-size: larger;
  margin: 0 2rem;
}

.about-self-images {
  border: 0px solid red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 475px;
}

.about-self-images div img {
  object-fit: cover;
  object-position: bottom;
  max-width: 360px;
  width: 100%;
  height: 360px;
  display: block;
  border: 0px solid red;
}

.about-self-images div {
  margin: 0.5rem;
}

.self-image-1 {
  display: flex;
  align-items: start;
}

.self-image-2 {
  display: flex;
  align-items: end;
}
.about-section {
  border: 0px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: hsla(51, 100%, 90%, 0.7);
}
.about-section-1 {
  border: 0px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1275px;
  margin: 0 2rem;
}

.creative-img {
  border: 0px solid red;
  width: 50%;
  height: 500px;
  margin: 2rem 1rem 2rem 0;
}

.creative-desc {
  width: 50%;
  margin: 2rem 0;
  margin: 2rem 0 2rem 1rem;
  line-height: 2rem;
}

.creative-desc h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.creative-desc p {
  font-size: 16px;
}

.about-section-1 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-section-2 {
  border: 0px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1275px;
  margin: 0 2rem;
}

.cinema-img {
  border: 0px solid red;
  width: 50%;
  height: 500px;
  margin: 2rem 0 2rem 1rem;
}

.cinema-desc {
  width: 50%;
  margin: 2rem 1rem 2rem 0;
  line-height: 2rem;
}

.cinema-desc h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.cinema-desc p {
  font-size: 16px;
}

.about-section-2 img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .about-header-title {
    font-size: 2.25rem;
  }

  .about-header p {
    font-size: 1rem;
  }

  .creative-desc h2,
  .cinema-desc h2 {
    border: 0px solid red;
    font-size: 1.5rem;
  }

  .creative-desc p,
  .cinema-desc p {
    border: 0px solid red;
    font-size: 1rem;
  }

  .creative-img,
  .cinema-img {
    height: 400px;
  }
}

@media only screen and (max-width: 610px) {
  .about-section-1 {
    border: 0px solid red;
    flex-direction: column;
  }

  .creative-desc h2 {
    text-align: center;
  }

  .creative-img {
    width: 100%;
    margin: 0;
  }

  .creative-desc {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .about-section-2 {
    flex-direction: column;
  }

  .cinema-img {
    width: 100%;
    margin: 0;
  }

  .cinema-desc {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .about-self-images div img {
    height: 300px;
  }

  .creative-img,
  .cinema-img {
    height: 300px;
  }
}
