.page-parent {
  border: 0px solid red;

  height: fit-content;
}

.contact-header {
  z-index: -1;
  background-color: hsla(51, 100%, 90%, 1);
  border: 0px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9rem 0;
  position: relative;
}

.contact-header p {
  letter-spacing: 0.01rem;
}

.contact-header-title {
  border: 0px solid green;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem;
}

.form-parent {
  border: 0px solid green;
  display: flex;
  justify-content: center;
  background-color: hsla(51, 100%, 90%, 0.7);
  min-height: 100vh;
}

.contact-form {
  border: 1px solid green;
  display: flex;
  max-width: 1275px;
  width: 100%;
  margin: 2.5rem 3rem;
  background: rgb(255, 248, 239);
  height: 100%;
}

.form-details {
  border: 0px solid blue;
  width: 55%;
  padding: 3rem 3.5rem;
}

.name-parent {
  border: 0px solid red;
  width: 100%;
}

.name-parent p,
.email label,
.phone label,
.services label,
.date label,
.address p,
.budget label,
.pinterest label,
.message label {
  font-size: 1.1rem;
}

.name-parent p,
.email label,
.phone label,
.services label,
.date label,
.budget label,
.pinterest label,
.address p {
  margin-bottom: 0.25rem;
}

.name-parent,
.email,
.phone,
.services,
.date,
.address,
.budget,
.pinterest {
  margin-bottom: 1.5rem;
}

.name {
  border: 0px solid blue;
  display: flex;
}

.first-name {
  margin-right: 0.25rem;
}

.last-name {
  margin-left: 0.25rem;
}

.first-name,
.last-name {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.first-name label,
.last-name label,
.street-address label,
.city-state-zip div label,
.pinterest p {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.email,
.phone {
  display: flex;
  flex-direction: column;
}

.services div:not(:last-child) {
  margin-top: 0.5rem;
  margin-bottom: 0.65rem;
}

.services div input {
  margin-right: 0.7rem;
}
.services div p {
  font-size: 0.9rem;
}

.a-la-carte-menu,
.lux-picnic,
.proposal,
.special-event,
.flower-arrangement,
.other {
  display: flex;
}

.date {
  display: flex;
  flex-direction: column;
}

.date input {
  width: 125px;
}

.address {
  border: 0px solid blue;
}

.address label {
  margin-bottom: 10rem;
}
.street-address input {
  width: 100%;
  margin-bottom: 0.25rem;
}
.city-state-zip {
  display: flex;
  border: 0px solid red;
}

.city-state-zip div {
  border: 0px solid green;
  width: 33.3%;
}
.city-state-zip div:not(:last-child) {
  margin-right: 1rem;
}

.city-state-zip div input {
  width: 100%;
}

.budget {
  display: flex;
  flex-direction: column;
}

.pinterest {
  display: flex;
  flex-direction: column;
}
.message {
  display: flex;
  flex-direction: column;
}

.message textarea {
  resize: vertical;
}

.form-image {
  width: 45%;
  max-height: auto;
}

.form-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
