.error {
  color: red;
}

.page-parent {
  border: 0px solid red;

  height: fit-content;
}

.contact-header {
  z-index: -1;
  background-color: hsla(51, 100%, 90%, 1);
  border: 0px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9rem 0;
  position: relative;
}

.contact-header p {
  letter-spacing: 0.01rem;
  text-align: center;
}

.contact-header-title {
  border: 0px solid green;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem;
}

.form-parent {
  border: 0px solid green;
  display: flex;
  justify-content: center;
  background-color: hsla(51, 100%, 90%, 0.7);
  min-height: 100vh;
}

.contact-form {
  border: 0px solid green;
  display: flex;
  max-width: 1275px;
  width: 100%;
  margin: 2.5rem 3rem;
  background: rgb(255, 248, 239);
  height: 100%;
  -webkit-box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.form-details {
  border: 0px solid blue;
  width: 55%;
  padding: 2.5rem 3.5rem;
}

.name-parent {
  border: 0px solid red;
  width: 100%;
}

.name-parent p,
.email label,
.phone label,
.services label,
.date label,
.address p,
.budget label,
.pinterest label,
.message label {
  font-size: 1.1rem;
}

.name-parent p,
.email label,
.phone label,
.services label,
.date label,
.budget label,
.pinterest label,
.address p {
  margin-bottom: 0.25rem;
}

.name-parent,
.email,
.phone,
.services,
.date,
.address,
.budget,
.pinterest {
  margin-bottom: 1.5rem;
}

.name {
  border: 0px solid blue;
  display: flex;
}

.first-name {
  border: 0px solid red;
  margin-right: 0.25rem;
}

.last-name {
  margin-left: 0.25rem;
}

.first-name,
.last-name {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.first-name input,
.last-name input,
.email input,
.date input,
.budget select {
  margin-bottom: 0.25rem;
}

.first-name label,
.last-name label,
.street-address label,
.city-state-zip div label,
.pinterest p {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.email-phone {
  border: 0px solid red;
  display: flex;
}

.email {
  margin-right: 0.25rem;
  width: 50%;
}

.phone {
  margin-left: 0.25rem;
  width: 50%;
}

.email,
.phone {
  display: flex;
  flex-direction: column;
}

.services {
}

.services div:not(:last-child) {
  margin-top: 0.5rem;
  margin-bottom: 0.65rem;
}

.services div input {
  margin-right: 0.7rem;
}
.services div p {
  font-size: 0.9rem;
}

.a-la-carte-menu,
.lux-picnic,
.proposal,
.special-event,
.flower-arrangement,
.other {
  display: flex;
}

.date {
  display: flex;
  flex-direction: column;
}

.date input {
  width: 125px;
}

.address {
  border: 0px solid blue;
}

.address label {
  margin-bottom: 10rem;
}
.street-address input {
  width: 100%;
  margin-bottom: 0.25rem;
}
.city-state-zip {
  display: flex;
  border: 0px solid red;
}

.city-state-zip div {
  border: 0px solid green;
  width: 100%;
}
.city-state-zip div:not(:last-child) {
  margin-right: 1rem;
}

.city-state-zip div input {
  width: 100%;
}

.budget {
  display: flex;
  flex-direction: column;
}

.pinterest {
  display: flex;
  flex-direction: column;
}
.message {
  display: flex;
  flex-direction: column;
}

.message textarea {
  resize: vertical;
}

.form-image {
  width: 45%;
  max-height: auto;
}

.form-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0 5px 5px 0;
}

.first-name input,
.last-name input,
.email input,
.phone input,
.street-address input,
.city-state-zip div input,
.pinterest input {
  border: none;
  padding: 0.3rem 0.3rem 0 0.3rem;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.date input,
.message textarea {
  padding: 0.3rem 0.3rem 0 0.3rem;
}

.first-name input:focus,
.last-name input:focus,
.email input:focus,
.phone input:focus,
.street-address input:focus,
.city-state-zip div input:focus,
.pinterest input:focus {
  outline: none;
  background-color: rgba(128, 128, 128, 0.131);
}

.budget select {
  padding: 0.3rem;
  width: fit-content;
}

.contact-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: transparent;
  border-radius: 5px;
  border: 0.5px solid black;
}

.contact-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.043);
}

.contact-btn:active {
  background-color: rgba(0, 0, 0, 0.169);
}

.contact-loader,
.contact-success {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  border: 0px solid red;
}

@media only screen and (max-width: 768px) {
  .form-details {
    width: 100%;
  }

  .form-image {
    display: none;
  }

  .contact-loader,
  .contact-success {
    width: 100%;
    min-height: 600px;
    height: 100%;
  }
}
