.faq-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid blue;
}

.faq-header {
  background-color: hsla(51, 100%, 90%, 1);
  border: 0px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9rem 0;
  z-index: -1;
}

.faq-header-title {
  border: 0px solid green;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem;
}

.faq-header-desc {
  border: 0px solid blue;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  letter-spacing: 0.01rem;
}

.faq-container {
  padding: 0 0rem 0 0rem;
  background-color: hsla(51, 100%, 90%, 0.7);
  border: 0px solid blue;
  width: 100%;
  display: flex;
  justify-content: center;
}

.faq {
  border: 0px solid blue;
  display: flex;
  max-width: 1275px;
  width: 100%;
  margin: 0 2rem;
}

.faq-nav {
  border: 0px solid red;
  width: 20%;
  padding: 4rem 0;
  letter-spacing: 0.05rem;
}

.faq-nav ul {
  list-style-type: none;
}

.faq-nav ul li a {
  font-size: 1.25rem;
}

.faq-questions {
  border: 0px solid red;
  width: 80%;
  padding: 4rem 6rem 2.5rem 6rem;
}

.section-title {
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

.service-question,
.delivery-question,
.payment-question {
  font-size: 1.3rem;
  padding: 1rem 0;
  list-style-type: none;
  letter-spacing: 0.01rem;
}

.service-answer,
.delivery-answer,
.payment-answer {
  padding-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
}

.delivery-answer-list {
  font-size: 1.1rem;
  padding-bottom: 1rem;
  line-height: 2rem;
}

.delivery-answer-list-points {
  list-style-type: disc;
}

.delivery-answer-list-points li {
  font-size: 1.1rem;
  line-height: 2rem;
}

.delivery-answer-list-points li:not(:last-child) {
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.delivery-answer-list-points li:last-child {
  margin: 0 0 2rem 3rem;
}
