.home-hero {
  border: 0px solid red;
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
}

.hero-text-parent {
  border: 0px solid blue;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(255, 248, 239);
  background: linear-gradient(
    90deg,
    rgba(255, 248, 239, 1) 45%,
    rgba(255, 248, 239, 0.5020636792452831) 70%,
    rgba(255, 248, 239, 0.15300707547169812) 80%
  );
}

.hero-text {
  border: 1px solid red;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text-brand {
  border: 1px solid green;
  font-size: 5rem;
}

.hero-text-service {
  border: 1px solid green;
  font-size: 2rem;
}

.hero-text-quote {
  border: 1px solid green;
  font-size: 1.5rem;
  text-align: center;
  max-width: 600px;
  width: 100%;
  word-wrap: break-word;
}

.home-hero img {
  border: 0px solid green;
  transform: scaleX(-1);
  width: 55%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
  z-index: -2;
  margin-left: auto;
}
