.home-hero {
  border: 0px solid red;
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
}

.hero-text-parent {
  border: 0px solid blue;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(255, 247, 204);
  background: linear-gradient(
    90deg,
    rgba(255, 247, 204, 1) 45%,
    rgba(255, 247, 204, 0.5020636792452831) 70%,
    rgba(255, 247, 204, 0.15300707547169812) 80%
  );
}

.hero-text {
  border: 0px solid red;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text-brand {
  border: 0px solid green;
  font-size: 4rem;
  letter-spacing: 0.125rem;
  margin: 2.75rem 0;
}

.hero-text-service {
  border: 0px solid green;
  font-size: 1.75rem;
  letter-spacing: 0.05rem;
}

.hero-text-quote {
  border: 0px solid green;
  font-size: 1.15rem;
  text-align: center;
  max-width: 800px;
  width: 100%;
  word-wrap: break-word;
  padding: 1.5rem 2rem;
  letter-spacing: 0.015rem;
  line-height: 2.5rem;
}

.home-hero img {
  border: 0px solid green;
  transform: scaleX(1);
  width: 55%;
  max-height: 100vh;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  margin-left: auto;
}

.seperator {
  display: flex;
  align-items: center;
  text-align: center;
  border: 0px solid red;
  padding: 2rem 0;
  background-color: hsla(51, 100%, 90%, 0.7);
}

.seperator::before,
.seperator::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid rgba(215, 214, 214, 0.687);
}

.seperator::before {
  margin-left: 3rem;
  margin-right: 1rem;
}

.seperator::after {
  margin-left: 1rem;
  margin-right: 3rem;
}

.home-section-1 {
  border: 0px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
  background-color: hsla(51, 100%, 90%, 0.7);
}

.home-section-1-desc {
  text-align: center;
  font-size: 15px;
  max-width: 500px;
  padding: 1.5rem 0;
  letter-spacing: 0.025rem;
}

.home-section-1-photos {
  border: 0px solid red;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  width: 100%;
  max-height: 400px;
  height: 100%;
}

.home-section-1-photos img {
  max-width: 400px;
  width: 33.3%;
  object-fit: cover;
}

.home-section-1-photos img:not(:last-child) {
  margin-right: 2rem;
}
.home-section-1-photos img:nth-child(1) {
  object-position: center;
}
.home-section-1-photos img:nth-child(2) {
  object-position: bottom;
}
.home-section-1-photos img:nth-child(3) {
  object-position: 25% 0;
}

.home-section-2 {
  border: 0px solid red;
  display: flex;
  justify-content: center;
  background-color: hsla(51, 100%, 90%, 1);
  width: 100%;
  padding: 3rem 2rem;
}

.home-section-2 img {
  object-fit: cover;
  max-height: 500px;
  height: auto;
  max-width: 500px;
  width: 50%;
  margin-right: 2rem;
  object-position: 0 50%;
}

.home-section-2-desc {
  border: 0px solid blue;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 500px;
  width: 100%;
  margin-left: 2rem;
}

.home-section-2-desc .title {
  font-size: 2.5rem;
  padding: 3rem 0 0 0;
}

.home-section-2-desc .info {
  line-height: 25px;
  word-wrap: break-word;
  font-size: 16px;
  padding: 1rem 0;
  letter-spacing: 0.025rem;
}

.learn-more-btn {
  border-radius: 25px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  width: fit-content;
}
.learn-more-btn:hover {
  box-shadow: 0px 0px 0px 1px #000000;
}

.home-section-3 {
  background-color: hsla(51, 100%, 90%, 1);
  display: flex;
  justify-content: center;
  padding: 1rem 2rem 2rem 2rem;
  border: 0px solid red;
}

.home-section-3 .sub-container {
  background: rgb(255, 248, 239);
  border: 0px solid purple;
  display: flex;
  max-width: 1250px;
  width: 100%;
}

.home-section-3-desc {
  border: 0px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 0 3rem;
  width: 50%;
}

.home-section-3-desc .title {
  font-size: 2.5rem;
}

.home-section-3-desc .info {
  line-height: 25px;
  word-wrap: break-word;
  font-size: 16px;
  padding: 1rem 0;
  letter-spacing: 0.025rem;
}

.home-section-3 .sub-container img {
  border: 0px solid blue;
  object-fit: cover;
  width: 50%;
  max-height: 400px;
  height: 100%;
  margin: 0.5rem 1rem;
}

.home-section-4 {
  border: 0px solid red;
  width: 100%;
  padding: 4rem 0 5rem 0;
  background-color: hsla(51, 100%, 90%, 0.7);
}

.social-media {
  border: 0px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media div {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.home-section-4-photos {
  border: 0px solid blue;
  display: flex;
  justify-content: center;
}

.home-section-4-photos a {
  border: 0px solid green;
  display: flex;
  justify-content: center;
  margin: 0 1.5rem;
}

.home-section-4-photos img {
  border: 0px solid blue;
  object-fit: cover;
  max-width: 250px;
  width: 100%;
}

@media only screen and (max-width: 1110px) {
  .hero-text-brand {
    font-size: 2.5rem;
  }

  .hero-text-service {
    font-size: 1.2rem;
    border: 0px solid red;
  }

  .hero-text-quote {
    font-size: 1rem;
    padding: 1.5rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .seperator {
    border: 0px solid red;
    padding: 2rem 0 3rem 0;
  }

  .home-section-1 {
    border: 0px solid green;
    padding-bottom: 1.5rem;
  }

  .home-section-1-desc {
    padding: 0rem 0 1.5rem 0;
    margin: 0 0.5rem;
  }

  .home-section-1-photos {
    border: 0px solid red;
    padding: 0 0.5rem;
  }

  .home-section-1-photos img:not(:last-child) {
    margin-right: 0.5rem;
  }

  .home-section-2 {
    border: 0px solid red;
    padding: 1.5rem 1rem;
  }

  .home-section-2 img {
    margin: 0;
    width: 50%;
  }

  .home-section-2-desc {
    border: 0px solid blue;
  }

  .home-section-2-desc .title {
    padding: 1rem 0 0 0;
    font-size: 2rem;
  }

  .home-section-2-desc .info {
    padding: 0.75rem 0;
  }

  .home-section-3 {
    border: 0px solid blue;
    padding: 1.5rem 1rem;
  }

  .home-section-3 .sub-container {
    border: 0px solid blue;
    padding: 0.5rem 0.5rem;
  }

  .home-section-3-desc {
    border: 0px solid green;
    width: 50%;
  }

  .home-section-3-desc .title {
    border: 0px solid red;
    font-size: 2rem;
  }

  .home-section-3-desc .info {
    border: 0px solid red;

    padding: 0.75rem 0rem;
  }

  .home-section-3 .sub-container img {
    border: 0px solid blue;
    width: 50%;
    margin: 0rem 0rem 0 0;
  }

  .learn-more-btn {
    font-size: 1.25rem;
  }

  .social-media div {
    font-size: 1.5rem;
    margin-left: 0rem;
  }

  .home-section-4-photos {
    border: 0px solid blue;
    display: flex;
    justify-content: center;
  }

  .home-section-4-photos a {
    border: 0px solid green;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .home-section-1 {
    border: 0px solid red;
    display: flex;
    flex-direction: column-reverse;
  }

  .home-section-1-photos {
  }

  .home-section-1-desc {
    border: 0px solid red;
    margin-top: 3rem;
  }

  .hero-text-parent {
    background: rgba(255, 247, 204, 0.85);
  }
  .hero-text {
    border: 0px solid red;
    width: 100%;
  }

  .hero-text-brand {
    font-size: 2.25rem;
  }

  .home-hero img {
    width: 100%;
  }
}

@media only screen and (max-width: 610px) {
  .home-section-1-desc {
    font-size: 1rem;
  }

  .home-section-2 {
    flex-direction: column;
    align-items: center;
  }

  .home-section-2 img {
    margin: 0;
    width: 100%;
  }

  .home-section-2-desc {
    border: 0px solid blue;
    align-items: center;
    margin: 0rem;
  }

  .home-section-2-desc .title {
    font-size: 1.5rem;
  }
  .home-section-2-desc .info {
    text-align: center;
    font-size: 1rem;
  }

  .home-section-3 {
    display: block;
    padding: 1.5rem 1rem;
  }

  .home-section-3 .sub-container {
    border: 0px solid blue;
    display: block;
    padding: 0 0.5rem;
  }

  .home-section-3-desc {
    border: 0px solid green;
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .home-section-3-desc .title {
    padding: 1rem 0 0 0;
    font-size: 1.5rem;
  }

  .home-section-3-desc .info {
    text-align: center;
    font-size: 1rem;
  }

  .home-section-3 .sub-container img {
    width: 100%;
    margin: 0.75rem 0rem 0 0;
  }

  .learn-more-btn {
    font-size: 1rem;
  }
}
