.service-header {
  position: relative;
  z-index: -1;
  background-color: hsla(51, 100%, 90%, 1);
  border: 0px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.service-header-title {
  border: 0px solid green;
  font-size: 2.5rem;
}
.service-container {
  border: 0px solid green;
  width: 100%;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: center;
  border: 0px solid green;
  height: fit-content;
  background-color: hsla(51, 100%, 90%, 0.7);
}
.service-body {
  border: 0px solid red;
  max-width: 1275px;
  width: 100%;
  display: flex;
}

.service-nav {
  border: 0px solid blue;
  width: 20%;
  padding: 2rem 0;
}

.service-nav ul {
  list-style-type: none;
}
