@font-face {
  font-family: "adobe-caslon-pro";
  src: url("./fonts/adobe-caslon-pro.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "adobe-caslon-pro", "Roboto", sans-serif;
  font-style: italic;
  text-decoration: none;
  color: hsla(0, 63%, 18%, 1);
}
