.footer-parent {
  background-color: hsla(51, 100%, 90%, 1);
  padding: 3rem 4rem 0 4rem;
}

.footer-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  border: 0px solid red;
  display: flex;
  align-items: end;
  max-width: 1275px;
  width: 100%;
  margin-bottom: 2rem;
}

.footer-left {
  border: 0px solid blue;
  width: 75%;
}

.footer-left img {
  max-width: 100px;
  width: 100%;
  height: auto;
}

.footer-nav {
  border: 0px solid blue;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav-link:not(:last-child) {
  border: 0px solid red;
  margin-right: 1.5rem;
}

.footer-right {
  border: 0px solid green;
  width: 25%;
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: end;
}

.footer-bottom {
  border: 0px solid red;
  max-width: 1275px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  border-top: 2px solid rgba(0, 0, 0, 0.126);
}

@media only screen and (max-width: 510px) {
  .footer-parent {
    border: 0px solid red;
    padding: 2rem;
  }

  .footer {
    border: 0px solid blue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-left {
    border: 0px solid green;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .footer-left img {
    max-width: 75px;
  }
  .footer-nav {
    border: 0px solid red;
    margin: 1rem 0 3rem 0;
  }
  .footer-nav {
    border: 0px solid red;
  }
  .footer-nav-link:not(:last-child) {
    border: 0px solid blue;
    margin: 0;
  }
  .footer-nav-link:not(:last-child)::after {
    content: " | ";
    font-style: normal;
    border: 0px solid red;
    margin: 0 0.5rem;
    color: rgba(0, 0, 0, 0.284);
  }

  .footer-right {
    display: none;
  }
}
