.footer-parent {
  background: rgb(255, 212, 212);
  background: radial-gradient(
    circle,
    rgba(255, 212, 212, 0.7959558823529411) 25%,
    rgba(255, 212, 212, 0.896796218487395) 50%,
    rgba(255, 212, 212, 1) 75%
  );
  padding: 3rem 4rem 0 4rem;
}

.footer-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  border: 0px solid red;
  display: flex;
  align-items: end;
  max-width: 1275px;
  width: 100%;
  margin-bottom: 2rem;
}

.footer-left {
  border: 0px solid blue;
  width: 75%;
}

.footer-left img {
  max-width: 100px;
  width: 100%;
  height: auto;
}

.footer-nav {
  border: 0px solid blue;
  padding: 1rem 0 1rem 0;
}

.footer-nav-link {
  border: 0px solid red;
  margin-right: 1.5rem;
}

.footer-right {
  border: 0px solid green;
  width: 25%;
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: end;
}

.footer-bottom {
  border: 0px solid red;
  max-width: 1275px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  border-top: 2px solid rgba(0, 0, 0, 0.126);
}
