.navbar-parent {
  width: 100%;
  background-color: hsla(50.59, 100%, 90%, 1);
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 2.5px;
}

.navbar {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2rem;
  max-width: 1300px;
  width: 100%;
}

.navbar-logo {
  border: 1px solid blue;
  max-width: 100%;
  height: auto;
}

.navbar-logo img {
  padding: 5px 5px 0 5px;
  width: 70px;
}

.navbar-links {
  border: 1px solid blue;
  display: flex;
  margin-top: 10px;
}

.navbar-link {
  border: 1px solid green;
  padding: 10px 15px;
  letter-spacing: 0px;
}

.navbar-link:not(:last-child) {
  margin-right: 10px;
}

.navbar-socials {
  margin-top: 10px;
}
